.grid {
    border: 1px solid red;   
    overflow: hidden;
}

.unit {
    background-color: #fff;
    float: left;
}

.gutter {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.unit-s-1 {
    width: 100%;
}